<!DOCTYPE html>
<html>

<head>
    <title>My First Webpage</title>
</head>

<body>
    <div th:text="${sysuser.getUsername()}"></div>
    <div th:text="${sysuser.getEmail()}"></div>
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
    <br>
    <a href="/app/cookieCheck">Cookie Check</a>
    <br>
    <a href="/logout">Logout</a>

</body>

<footer>
    <br>
    <br>
    <br>
    <a href="http://beian.miit.gov.cn/" target="_blank">浙ICP备2022031873号-1</a>
    <span style="display:block;"><img src="https://s1.ax1x.com/2022/11/14/zAkD2t.png"><a
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33040202000885"
            style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" target="_blank">浙公网安备
            33040202000885号</a> &nbsp;&nbsp;&nbsp;&nbsp;</span>
</footer>

</html>