<!DOCTYPE html>
<html>

<head>
    <title>My First Webpage</title>
</head>

<body>
    <div th:text="${sysuser.getUsername()}"></div>
    <div th:text="${sysuser.getEmail()}"></div>
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
    <br>
    <a href="/app/cookieCheck">Cookie Check</a>
    <br>
    <a href="/app/menu">Menu</a>
    <br>
    <a href="/logout">Logout</a>

</body>



<iframe name="footer" src="/webfooter.html" width="100%" height="200" frameborder="0" scrolling="no"></iframe>

</html>