<!--比赛准备界面-->
<!DOCTYPE html>

<html>

<head>
    <title>
        比赛准备界面
    </title>
</head>

<body>
    <h1>比赛准备界面</h1>

    <div>注意：比赛将沿用比赛创建者的设置</div>
    <a href="/app/prepare">返回准备界面</a>
    <br>
    <a href="/app/menu">修改设置</a>
    <br>
    <button onclick="createCompetition()">创建比赛</button>
    <br>
    <button onclick="addUser()">参加比赛</button>
    <br>
    <button onclick="startCompetition()">开始比赛</button>
    <br>
    <button onclick="killCompetition()">清除当前比赛</button>
    <br>
    <div id="CompetitionOwner"></div>
    <br>
    <h1>参与者列表</h1>

    <div id="participantList"></div>

    <script>
        //每秒从/restapi/Competition/getCompetitionOwner获取比赛创建者
        setInterval(function () {
            fetch('/restapi/Competition/getCompetitionOwner')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('CompetitionOwner').innerHTML = '比赛创建者：' + data;
                    console.log('Success:', data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }, 1000);
    </script>


    <script>
        function killCompetition() {
            fetch('/restapi/Competition/killCompetition', {
                method: 'GET',
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>

    <script>
        function startCompetition() {
            fetch('/restapi/Competition/startCompetition', {
                method: 'GET',
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>

    <script>
        function createCompetition() {
            fetch('/restapi/Competition/createCompetition', {
                method: 'GET',
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>

    <script>
        function addUser() {
            fetch('/restapi/Competition/addUser', {
                method: 'GET',
            })
                .then(response => response.text())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>

    <script>
        setInterval(function () {
            fetch('/restapi/Competition/getList')
                .then(response => response.json())
                .then(data => {
                    // Update the participant list, each participant on a new line
                    var participantsHtml = data.map(participant => `<div>${participant}</div>`).join('');
                    document.getElementById('participantList').innerHTML = participantsHtml;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }, 1000);
    </script>
    <!--添加一个定时器，定时检查用户是否有资格参加比赛且比赛是否已经开始，如果比赛开始则转到/app/competition-->
    <script>
        setInterval(function () {
            fetch('/restapi/Competition/checkUser')
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        window.location.href = '/app/competition';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }, 1000);
    </script>
</body>





<iframe name="footer" src="/webfooter.html" width="100%" height="200" frameborder="0" scrolling="no"></iframe>

</html>