<!DOCTYPE html>
<html>

<head>
    <title>Cookie Check</title>
</head>

<body>
    <h1>Cookie Check</h1>
    <div th:text="${str1}"></div>
    <div th:text="用户名：+${str2}"></div>
    <div th:text="有效期至+${str3}"></div>
    <a href="/">Root</a>
    <br>
    <a href="/login">Login</a>
</body>

<footer>
    <a href="http://beian.miit.gov.cn/" target="_blank">浙ICP备2022031873号-1</a>
    <span style="display:block;"><img src="https://s1.ax1x.com/2022/11/14/zAkD2t.png"><a
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33040202000885"
            style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" target="_blank">浙公网安备
            33040202000885号</a> &nbsp;&nbsp;&nbsp;&nbsp;</span>
</footer>

</html>