<!DOCTYPE html>
<html>

<head>
    <title>练习判分网页</title>
</head>

<body>
    <h1>练习判分网页</h1>
    <!--后台给出上一次用户的分数-->
    <div th:text="分数：+ ${score}"></div>
    <a href="/app/prepare">返回准备界面</a>
    <br>
    <a href="/app/chart">历史分数图表界面</a>
    <br>
    <h2>答案：</h2>
    <!--从quizList显示题目和正确答案-->
    <div th:each="quiz : ${quizList}">
        <div th:text="${quiz.Quiz_toStringWithAnswer()}"></div>
    </div>
</body>
<iframe name="footer" src="/webfooter.html" width="100%" height="200" frameborder="0" scrolling="no"></iframe>

</html>