<!DOCTYPE html>
<html>

<head>
    <title>
        Menu Page
    </title>
</head>
<!--菜单网页，用于修改各项设置，有
运算类型（加减乘除混合）、
做几位数的运算（1到9位好了）、
每次出题数量（1-1000题）、
是否限定时间、
限定时间的长度（1-60分钟）-->

<body>
    <h1>
        Menu Page
    </h1>
    <form action="/api/changeUserSettings" method="get">
        <div>
            <label for="operationType">
                运算类型:
            </label>
            <select name="operationType" id="operationType">
                <option value="Addition">
                    加
                </option>
                <option value="Subtraction">
                    减
                </option>
                <option value="Multiplication">
                    乘
                </option>
                <option value="Division">
                    除
                </option>
                <option value="Mixed">
                    混合
                </option>
            </select>
        </div>
        <div>
            <label for="digit">
                数字位数:
            </label>
            <select name="digit" id="digit">
                <option value="1">
                    1
                </option>
                <option value="2">
                    2
                </option>
                <option value="3">
                    3
                </option>
                <option value="4">
                    4
                </option>
                <option value="5">
                    5
                </option>
                <option value="6">
                    6
                </option>
                <option value="7">
                    7
                </option>
                <option value="8">
                    8
                </option>
                <option value="9">
                    9
                </option>
            </select>
        </div>
        <div>
            <label for="questionNum">
                题目数量(最小 1, 最大 1000):
            </label>
            <input type="number" name="questionNum" id="questionNum" min="1" max="1000">
        </div>
        <div>
            <label for="timeLimit">
                是否启用时间限制:
            </label>
            <input type="checkbox" name="timeLimit" id="timeLimit">
        </div>
        <div>
            <label for="timeLimit">
                时间限制(最小 1, 最大 60, 单位：分钟):
            </label>
            <input type="number" name="timeLimitValue" id="timeLimitValue" min="1" max="60">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    <!--显示当前用户设置，model里有userSettings对象-->
    <br>
    <br>
    <br>
    <div style="border: 1px solid black; padding: 10px;">
        <h2>
            当前的设置：
        </h2>
        <div>
            <label for="operationType">
                运算类型:
            </label>
            <div th:text="${userSettings.getQuizType()}"></div>
        </div>
        <div>
            <label for="digit">
                数字位数:
            </label>
            <div th:text="${userSettings.getNumOfDigits()}"></div>
        </div>
        <div>
            <label for="questionNum">
                题目个数:
            </label>
            <div th:text="${userSettings.getNumOfQuestions()}"></div>
        </div>
        <div>
            <label for="timeLimit">
                是否启用时间限制:
            </label>
            <div th:text="${userSettings.getTimeLimitEnable()}"></div>
        </div>
        <div>
            <label for="timeLimit">
                时间限制（单位：分钟）:
            </label>
            <div th:text="${userSettings.getTimeLimit()}"></div>
        </div>
    </div>


    <a href="/app/prepare">返回准备界面</a>
    <br>
    <a href="/">
        Root
    </a>
    <br>
    <a href="/logout">
        Logout
    </a>








</body>


<iframe name="footer" src="/webfooter.html" width="100%" height="200" frameborder="0" scrolling="no"></iframe>

</html>