<!DOCTYPE html>
<html>

<head>
    <title>
        Menu Page
    </title>
</head>
<!--菜单网页，用于修改各项设置，有
运算类型（加减乘除混合）、
做几位数的运算（1到9位好了）、
每次出题数量（1-1000题）、
是否限定时间、
限定时间的长度（1-60分钟）-->

<body>
    <h1>
        Prepare Page
    </h1>
    <a href="/app/menu"> Change User Settings</a>
    <br>
    <a href="/app/quiz"> 训练</a>
    <br>
    <a href="/app/compp">比赛准备</a>
    <!--显示当前用户设置，model里有userSettings对象-->
    <br>
    <br>
    <br>
    <div style="border: 1px solid black; padding: 10px;">
        <h2>
            当前设置
        </h2>
        <div>
            <label for="operationType">
                题目类型:
            </label>
            <div th:text="${userSettings.getQuizTypeCN()}"></div>
        </div>
        <div>
            <label for="digit">
                数字位数:
            </label>
            <div th:text="${userSettings.getNumOfDigits()}"></div>
        </div>
        <div>
            <label for="questionNum">
                题目个数:
            </label>
            <div th:text="${userSettings.getNumOfQuestions()}"></div>
        </div>
        <div>
            <label for="timeLimit">
                是否启用时间限制:
            </label>
            <div th:text="${userSettings.getTimeLimitEnableCN()}"></div>
        </div>
        <div>
            <label for="timeLimit">
                时间限制（单位：分钟）:
            </label>
            <div th:text="${userSettings.getTimeLimit()}"></div>
        </div>
    </div>



    <a href="/">
        Root
    </a>
    <br>
    <a href="/logout">
        Logout
    </a>



    <iframe name="footer" src="/webfooter.html" width="100%" height="200" frameborder="0" scrolling="no"></iframe>

</html>